.postCard {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 60px;
}

.postCardThumb {
	width: 300px;
	height: 300px;
	margin-right: 30px;
}

.postInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.postInfoContainer > p{
	font-size: 28px;
}

.postInfoContainer > h1 {
	margin-top: 15px;
}

.postInfoContainer > .callToAction {
	margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
	.postCard {
		flex-direction: column;
		text-align: center;
	}
	.postCardThumb {
		width: 200px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.postInfoContainer > p{
		font-size: 26px;
	}
	
	.postInfoContainer > h1 {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	
	.postInfoContainer > .callToAction {
		margin-bottom: 30px;
		margin-top: 10px;
	}	
}