.headerLogo {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerLogo > img{
	width: 250px;
	height: 100px;
}

.sideNav {
	width: 350px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sideNav *{
	list-style-type: none;
	text-decoration: none;
	font-family: 'NunitoSans-bold', sans-serif;
}

.sideNav > ul{
	padding-left: 40px;
}

.sideNav > ul > li{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 36px;
}

.sideNav > ul > li > ul > li{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
}

.sideNav > ul > li > ul > li:first-child{
	padding-top: 15px;
}