/* Background colors */
.uranianBlue-bg {
    background: #BADEFC;
}

.honeyYellow-bg {
    background: #F6AE2D;
}

.starCommandBlue-bg {
    background: #197BBD;
}

.camsMintGreen-bg {
    background: #3db997;
}

.camsLightGrey-bg {
    background: #eaeaea;
}

.camsMediumGrey-bg {
    background: #3a3a3a;
}

.darkLava-bg {
    background: #423629;
}

/* Text colors */

.uranianBlue-text {
    color: #BADEFC;
}

.honeyYellow-text {
    color: #F6AE2D;
}

.starCommandBlue-text {
    color: #197BBD;
}

.camsMintGreen-text {
    color: #3db997;
}

.camsLightGrey-text {
    color: #eaeaea;
}

.camsMediumGrey-text {
    color: #3a3a3a;
}

.darkLava-text {
    color: #423629;
}