/* Header component default*/

.mainHeader {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	height: 15%;
	display: flex;
	background: #fffdcc;
}

.mainHeaderNav {
	display: flex;
	flex-direction: row;
	width: 70%;
}

.mainHeaderNav > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.mainHeaderNav > ul > li{
	font-size: 28px;
	color: black;
	font-family: sans-serif;
}

.mainHeaderNav > ul > li > a{
	color: inherit;
	text-decoration: none;
}

.mainHeaderNav > ul > li > a:hover{
	color: green;
}

.mainHeaderIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainHeaderIcon > img{
	width: 250px;
	height: 100px;
}

.mainHeaderIcon {
	display: flex;
	flex-direction: row;
	width: 30%;
}

.mainBasketIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainBasketIcon > img{
	height: 50%;
	width: 50%;
}

/* Header component responsive */

@media screen and (max-width: 915px) {
	.mainHeader {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		margin-top: 20px;
	}
	.mainHeaderNav > ul > li{
		padding: 8px;
	}
	.mainHeaderIcon {
		margin-top: 10px;
	}
	.mainHeaderIcon > img{
		width: 125px;
		height: 50px;
	}
}
