.mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

.headerLogo {
    height: 100px;
    width: 250px;
    margin: .5rem;
}

.mainNav {
    padding-right: .5rem;
}

.mainNav > ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
  
.mainNav > ul > li > a {
    letter-spacing: 2px;
    padding: 1rem;
    font-size: 1.75rem;
    display: block;
    color: var(--pink-color);;
}

.mainNav > ul > li {
    display: block;
}

.mainNav > ul > li:hover {
    background: var(--mauve-color);
    border-radius: 10px;
    transition: 0.3s;
}

.toggleButton {
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: .1rem;
    display: none;
    width: 60px;
    height: 42px;
    outline: none;
    background: url('./imgs/hamburger-icon.svg') center no-repeat;
}

@media (max-width: 1024px) {
    .mainNav > ul > li > a {
        font-size: 1.1rem;
    }
}

@media (max-width: 800px) {
    .mainHeader {
        flex-direction: column;
    }
    .mainNav > ul > li > a {
        font-size: 1rem;
    }
}

@media (max-width: 510px) {
    .mainNav > ul > li > a {
        padding: .5rem;
    }
}

@media (max-width: 425px) {
    .toggleButton {
        display: block;
    }

    .mainHeader {
        align-items: flex-start;
    }

    .mainNav > ul {
        display: none;
        text-transform: uppercase;
    }

    .mainNav > ul.active {
        display: flex;
    }

    .mainNav {
        padding: 0;
        width: 100%;
    }
    .mainNav > ul{
        width: 100%;
        flex-direction: column;

    }

    .mainNav > ul > li {
        width: 100%;
        text-align: center;
    }

    .mainNav > ul > li > a {
        font-size: 1.5rem;
    }
}