:root {
    --indigo-color: #08415C;
    --mauve-color: #805E73;
    --lightBlue-color: #A6CFD5;
    --melon-color: #EFB0A1;
    --pink-color: #E2C2C6;
}

.indigo-background {
    background: var(--indigo-color);
}

.mauve-background {
    background: var(--mauve-color);
}

.lightBlue-background {
    background: var(--lightBlue-color);
}

.melon-background {
    background: var(--melon-color);
}

.pink-background {
    background: var(--pink-color);
}
